.footer {
    height: 35vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.socialNets {
    display: flex;
    flex-direction: row;
}

.socialNets div {
    height: 50px;
    width: 50px;
}

.firstSpan {
    background-color: darkgrey;
}

.secondDiv {
    background-color: darkcyan;
}

